/* ==========================================================================
   Homeinfo.de custom styles
   ========================================================================== */

   *:focus, *:active {
     outline: none !important;
     outline: rgba(0,0,0,0) thin solid !important;
   }

   html, body, input, button, textarea, h1, h2, h3, h4, h5, p, a {
     font-family: 'Open Sans', sans-serif;
     overflow-x: hidden;
   }

   a {
     text-decoration: none;
   }

   body {
     /* margin-top: 50px; */
     background-color: #FFFFFF;
     /* background-image: url("../img/bg.jpg"); */
   }

   h1, h2, h3, h4, h5, h6 {
   	overflow-x: hidden;
   	overflow: hidden;
   	line-height: 130%;
   }

   .close {
   	overflow: hidden;
   }

   #customer_logo {
     margin-left: 10px;
     cursor: pointer;
   }

   /* responsive images */
   /*
   img {
     display: block;
     height: auto;
     max-width: 100%;
   }


   img {
     display: block;
     height: auto;
     max-width: 100%;
   }
   */
   /* responsive images */

   /* custom K.A. button */
   .btn-specialBtnKA {
     background-color: #aaa91f;
     border-color: #aaa91f;
     color:#FFFFFF;
   }
   /*
   .btn-specialBtnKA:hover,
   .btn-specialBtnKA:focus,
   .btn-specialBtnKA:active,
   .btn-specialBtnKA.active {
     background-color: #a6a6a6;
     border-color: #9a9a9a;
   }
   */
   .btn-specialBtnKA.disabled:hover,
   .btn-specialBtnKA.disabled:focus,
   .btn-specialBtnKA.disabled:active,
   .btn-specialBtnKA.disabled.active,
   .btn-specialBtnKA[disabled]:hover,
   .btn-specialBtnKA[disabled]:focus,
   .btn-specialBtnKA[disabled]:active,
   .btn-specialBtnKA[disabled].active,
   fieldset[disabled] .btn-specialBtnKA:hover,
   fieldset[disabled] .btn-specialBtnKA:focus,
   fieldset[disabled] .btn-specialBtnKA:active,
   fieldset[disabled] .btn-specialBtnKA.active {
     background-color: #aaa91f;
     border-color: #aaa91f;
     color:#FFFFFF;
   }
   /* custom K.A. button */

   /* custom K.A. button bgw-bieleld gey with white letters*/
   .btn-specialBtnKA-bgw {
     background-color: #f5f5f5;
     border-color: #CCCCCC;
     color:#333333;
   }
   /*
   .btn-specialBtnKA:hover,
   .btn-specialBtnKA:focus,
   .btn-specialBtnKA:active,
   .btn-specialBtnKA.active {
     background-color: #a6a6a6;
     border-color: #9a9a9a;
   }
   */
   .btn-specialBtnKA-bgw.disabled:hover,
   .btn-specialBtnKA-bgw.disabled:focus,
   .btn-specialBtnKA-bgw.disabled:active,
   .btn-specialBtnKA-bgw.disabled.active,
   .btn-specialBtnKA-bgw[disabled]:hover,
   .btn-specialBtnKA-bgw[disabled]:focus,
   .btn-specialBtnKA-bgw[disabled]:active,
   .btn-specialBtnKA-bgw[disabled].active,
   fieldset[disabled] .btn-specialBtnKA-bgw:hover,
   fieldset[disabled] .btn-specialBtnKA-bgw:focus,
   fieldset[disabled] .btn-specialBtnKA-bgw:active,
   fieldset[disabled] .btn-specialBtnKA-bgw.active {
     background-color: #f5f5f5;
     border-color: #CCCCCC;
     color:#333333;
   }
   /* custom K.A. button */

   #text_align_right {
     text-align: right !important;
   }


   /* distance between left-right of the plugin */
   #immo_header {
     padding-top: 23px;
     padding-bottom: 10px;
     padding-left: 23px;
     padding-right: 23px;
     margin-bottom: 30px;
     background-color: #F2F2F2;

    -webkit-box-shadow: 0px 3px 2px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 3px 2px 0px rgba(204,204,204,1);
    box-shadow: 0px 3px 2px 0px rgba(204,204,204,1);

    top: 0;
    position: fixed;
    width: 101%;
    z-index: 100;
   }

   body.modal-open {
    overflow: hidden;
  }

   #immo_data {
     margin-left: 20px;
     margin-right: 20px;
     margin-top:205px;
   }

   #immo_erweiterte_suche {
     margin-top: 60px;
     margin-bottom: 60px;
   }

   /* modify the form shadow color */
   textarea:focus,
   input[type="text"]:focus,
   input[type="password"]:focus,
   input[type="datetime"]:focus,
   input[type="datetime-local"]:focus,
   input[type="date"]:focus,
   input[type="month"]:focus,
   input[type="time"]:focus,
   input[type="week"]:focus,
   input[type="number"]:focus,
   input[type="email"]:focus,
   input[type="url"]:focus,
   input[type="search"]:focus,
   input[type="tel"]:focus,
   input[type="color"]:focus,
   input[type="select"]:focus,
   .uneditable-input:focus {
     border-color: rgba(130, 135, 8, 0.8);
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(130, 135, 8, 0.6);
     outline: 0 none;
   }

   .form-control:focus {
       border-color: #828708;
       outline: 0;
       -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(130, 135, 8,.6);
       box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(130, 135, 8,.6);
   }

   .badge {
     background-color: #aaa91f;
   }

   .thumb {
     display: block;
     margin: auto auto;
     max-width: 100%;
     max-height: 100%;
     width: expression(this.width > 100 ? "100%" : true);
     height: expression(this.height > 100 ? "100%" : true);
   }

   #list_title_style {
     font-weight: 400;
     font-size: 24px;
   }

   #details_page_map {
     font-weight: 600;
     font-size: 24px;
   }

   #list_text_style {
     font-weight: 400;
     font-size: 24px;
   }

   #list_text_second_line_text {
     color: #cdcdcd;
     font-size:16px;
   }

   .thumbnail {
     display: block;
     height: auto;
     /*
     position: absolute;
     clip: rect(10px, 350px, 250px, 10px);
     */
   }

   .custom_mask {
     width: 350px;
     height: 267px;
     background-position: center center;
     background-repeat: no-repeat;
     overflow: hidden;
   }

   #imagesGalleryModal {
     /*
     margin-top:17px;
     margin-left:17px;
     */
   }

   #imagesGalleryModalFloorPlan {
     /*
     margin-top:17px;
     margin-left:17px;
     */
   }

   /* image mask */
   .img_mask {
     position: relative;
     width: 350px;
     height: 267px;
     overflow: hidden;
     /* border: 3px solid #F2F2F2; */
   }
   .img_mask img {
     position: absolute;
     left: 50%;
     top: 50%;
     height: 100%;
     width: auto;
     -webkit-transform: translate(-50%,-50%);
         -ms-transform: translate(-50%,-50%);
             transform: translate(-50%,-50%);
   }
   .img_mask img.portrait {
     width: 100%;
     height: auto;
   }
   /* image mask */

   #kontakt_details {
     margin-top: 20px;
   }

   #documente_distance {
     margin-top: 20px;
   }

   @media (max-width: 767px) {
    /* phones only */
    .thumbnail {
      max-width: 98%;
    }

    #list_text_style {
      font-weight: 600;
      font-size: 16px;
    }

    #list_text_second_line_text {
      color: #cdcdcd;
      font-size:12px;
    }

    #details_page_map {
      font-weight: 600;
      font-size: 16px;
    }

    .custom_mask {
      width: 100%;
      height: 267px;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;
    }

    .img_mask {
      position: relative;
      width: 100%;
      height: 267px;
      overflow: hidden;
    }

  }

  @media (max-width: 480px) {

    .img_mask {
      position: relative;
      width: 245px;
      height: 180px;
      overflow: hidden;
    }

    .kenburns {
      width: 100%;
    }

    #mypic {
      width: 100%;
    }

    #kontakt_details {
      margin-top: 20px;
    }

    #documente_distance {
      margin-top: 20px;
    }

  }

  @media only screen and (min-width: 480px) and (max-width: 768px) {

  }
  @media only screen and (min-width: 768px) and (max-width: 959px) {

  }
  @media only screen and (min-width: 959px) {

    #responsive_point_laptops {
      margin-left: 50px;
    }

  }














   /**
    * See: http://www.css-101.org/articles/ken-burns_effect/css-transition.php
    */

   /**
    * Styling the container (the wrapper)
    *
    * position is used to make this box a containing block (it becomes a reference for its absolutely positioned children). overflow will hide part of the images moving outside of the box.
    */

   #slideshow {
       position:relative;
       width:350px;
       height:267px;
       overflow:hidden;
       border:0px solid #FFFFFF;
   }

   /**
    * Styling the images
    *
    * position:absolute is to put all images in a stack. Dimensions are set to increase the size of these images so their edges do not appear in the parent box when we move them inside the said box.
    * Because the images are now larger than their parent container, we use top, left and margin values to align them in the center of the box.
    * Finally, we set the transition (property and duration). Note that duration values are different for opacity and transform as we want the "fade-in" effect to be faster than the "panning" effect.
    */

   #slideshow img {
       position:absolute;
       width:800px;
       /* height:400px; */
       top:50%;
       left:50%;
       margin-left:-400px;
       margin-top:-200px;
       opacity:0;
       -webkit-transition-property: opacity, -webkit-transform;
       -webkit-transition-duration: 3s, 10s;
          -moz-transition-property: opacity, -moz-transform;
          -moz-transition-duration: 3s, 10s;
           -ms-transition-property: opacity, -ms-transform;
           -ms-transition-duration: 3s, 10s;
            -o-transition-property: opacity, -o-transform;
            -o-transition-duration: 3s, 10s;
               transition-property: opacity, transform;
               transition-duration: 3s, 10s;
   }

   /**
    * We change the point of origin using four corners so images do not move in the same direction.
    * This technique allows us to create various paths while applying the same translate() values to all images (see the 'fx' class further below).
    */

   #slideshow img  {
       -webkit-transform-origin: bottom left;
          -moz-transform-origin: bottom left;
           -ms-transform-origin: bottom left;
            -o-transform-origin: bottom left;
               transform-origin: bottom left;
   }

   #slideshow :nth-child(2n+1) {
       -webkit-transform-origin: top right;
          -moz-transform-origin: top right;
           -ms-transform-origin: top right;
            -o-transform-origin: top right;
               transform-origin: top right;
   }

   #slideshow :nth-child(3n+1) {
       -webkit-transform-origin: top left;
          -moz-transform-origin: top left;
           -ms-transform-origin: top left;
            -o-transform-origin: top left;
               transform-origin: top left;
   }
   #slideshow :nth-child(4n+1) {
     -webkit-transform-origin: bottom right;
        -moz-transform-origin: bottom right;
         -ms-transform-origin: bottom right;
          -o-transform-origin: bottom right;
             transform-origin: bottom right;
   }

   /**
    * Because of the stacking context, we need to make sure that the first image (in source) is not hidden by the last one.
    * The rule below moves all images past the second one down the stack.
    * This is because the second image needs to show on top of the first one when it transitions in.
    */

   #slideshow .fx:first-child + img ~ img  {
       z-index:-1;
   }

   /**
    * Because images are styled with a different point of origin, the following rule will create different panning effects.
    */

   #slideshow .fx {
       opacity:1;
       -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
           -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
               transform: scale(1.1);
   }
