/*
  Default stylesheets for the list view
*/

.ib-header {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  background-color: white;
}

.ib-expose {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: white;
}
