/*
  Default stylesheets for the list view
*/

.ib-header {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  background-color: white;
}

.ib-expose {
  margin-top: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  background-color: white;
}

.ib-title {
  font-size: large;
  font-variant: small-caps;
  text-align: center;
}

.ib-section-caption {
  font-size: large;
  font-variant: small-caps;
}

.ib-price-caption {
  font-size: larger;
}

.ib-browsable {
  cursor: pointer;
}
