/* ImmoBrowse default style sheet */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media print {
  .ib-preview-back {
    display: none;
  }

  #contact {
    display: none;
  }
}

body {
	background-color: #dfdfdf;
}

.oval-inner {
	padding-left: 6px;
	padding-right: 6px;
	width: auto;
	height: 20px;
	background: #a84909;
	border-radius: 40px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

.oval-outer{
  padding-left: 5px;
  display: table-column;
  width: auto;
  float: left;
}

.fraction, .numerator, .denominator {
    padding: 0 5px;
}

.fraction {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.denominator{
    border-top: 1px solid #000;
    display: block;
}

#ib-header {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  background-color: white;
}

#ib-list-item-template-container {
  display: none;
}

.ib-extsearch-button {
  float: right;
}

.ib-loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.ib-preview-item {
  margin-top: 2em;
  background-color: white;
}

.ib-preview-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.ib-preview-title {
  font-size: large;
  font-variant: small-caps;
}
