/* ImmoBrowse default style sheet */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media print {
  .ib-preview-back {
    display: none;
  }

  #contact {
    display: none;
  }
}

body {
	background-color: #dfdfdf;
}

.oval {
	padding-left: 6px;
	padding-right: 6px;
	width: auto;
	height: 20px;
	background: #a84909;
	border-radius: 40px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}

.fraction, .numerator, .denominator {
    padding: 0 5px;
}

.fraction {
    display: inline-block;
    text-align: center;
}

.denominator{
    border-top: 1px solid #000;
    display: block;
}

#ib-centerframe {
  background-color: white;
}

#ib-header {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

#ib-list-item-template-container {
  display: none;
}

.ib-extsearch-button {
  float: right;
}

.ib-loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.ib-contact-textfield {
  height:200px;
  font-size:14pt;
}

.ib-expose {
  clear: both;
}

.ib-preview-list {
  background-color: #dfdfdf;
  padding-top: 1%;
  display: table;
  width: 100%;
}

.ib-preview-entry {
  display: table-row;
  background-color: #eee;
  border-spacing: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #ccc;
  width: 100%;
}

.ib-preview-entry:nth-child(2) {
  background-color: #ccc;
}

.ib-preview-back{
  cursor: pointer;
  color: black;
}

.ib-preview-back:hover{
  cursor: pointer;
  font-style: italic;
}

.ib-preview-entry:hover {
  background-color: #f5f5dc;
}

.ib-preview-image {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  float: left;
  display: table-column;
  width: 300px;
}

.ib-preview-data {
  float: left;
  display: table-column;
  width: auto;
}

.ib-preview-header {
  display: table-row;
  clear: both;
}

.ib-preview-header-title {
  display: table-row;
  width: auto;
  clear: both;
  font-weight: bold;
  color: black;
}

.ib-preview-header-main {
  display: table-row;
  width: auto;
  clear: both;
  font-weight: bold;
  font-variant: small-caps;
}

.ib-preview-header-sub {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-body {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-rent {
  padding: 15px;
  display: table-column;
  width: auto;
  float: left;
}

.ib-preview-rent-data {
  display: table-row;
  width: auto;
  text-align: center;
  font-weight: bold;
  color: #00658a;
  clear: both;
}

.ib-preview-rent-caption {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-area {
  padding: 15px;
  display: table-column;
  width: auto;
  float: left;
}

.ib-preview-area-data {
  display: table-row;
  width: auto;
  clear: both;
  text-align: center;
  font-weight: bold;
  color: #00658a;
}

.ib-preview-area-caption {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-rooms {
  padding: 15px;
  display: table-column;
  width: auto;
  float: left;
}

.ib-preview-rooms-data {
  display: table-row;
  width: auto;
  clear: both;
  text-align: center;
  font-weight: bold;
  color: #00658a;
}
.ib-preview-rooms-caption {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-freefrom {
  padding: 15px;
  display: table-column;
  width: auto;
  float: left;
}

.ib-preview-freefrom-data {
  display: table-row;
  width: auto;
  clear: both;
  text-align: center;
  font-weight: bold;
  color: #00658a;
}

.ib-preview-freefrom-caption {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-oval{
  padding-left: 5px;
  display: table-column;
  width: auto;
  float: left;
}

.ib-detail-header {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.ib-detail-title {
  float: left;
}

.ib-detail-contactform {
  float: right;
  padding-right: 1em;
}

.ib-detail-title {
  clear: both;
}

.ib-detail-id {
  padding-left: 1em;
  font-size: medium;
  font-variant: small-caps;
}

.ib-detail-body{
  clear: both;
}

.ib-detail-image {
  display: table-column;
  max-width: 500px;
  min-height: 200px;
  max-height: 400px;
}

.ib-detail-row {
  clear: both;
}

.ib-detail-images {
  float: left;
  padding-left: 1em;
}

.ib-detail-floorplans {
  float: right;
  padding-right: 1em;
}

.ib-detail-prices {
  float: left;
  padding-left: 1em;
}

.ib-detail-properties {
  float: right;
  padding-right: 1em;
}

.ib-detail-enev {
  float: left;
  padding-left: 1em;
}

.ib-detail-amenities {
  float: right;
  padding-right: 1em;
}

.ib-detail-contact {
  float: left;
  padding-left: 1em;
}

.ib-detail-documents {
  float: right;
  padding-right: 1em;
}

.ib-detail-datacolumn {
  border: none;
}

.ib-detail-description {
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

.ib-detail-exposure {
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

.ib-detail-misc {
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

.ib-detail-document-table{
  background-color: #efefef;
  box-shadow: none;
}

.ib-btn-sort {
  align: left;
}

.ib-btn-filter-option {
  float: left;
}
