/* ImmoBrowse default style sheet */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ib-contact-textfield {
  height:200px;
  font-size:14pt;
}

.ib-preview-list {
  display: table;
  width: 100%;
}

.ib-preview-entry {
  display: table-row;
  /*clear: both;*/
  background-color: #eee;
  border-spacing: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #ccc;
  width: 100%;
}

.ib-preview-entry:nth-child(2) {
  background-color: #ccc;
}

.ib-preview-back{
  cursor: pointer;
  color: white;
}

.ib-preview-back:hover{
  cursor: pointer;
  font-style: italic;
}

@media print {
  .ib-preview-back {
    display: none;
  }
}

.ib-preview-entry:hover {
  background-color: #f5f5dc;
}

.ib-preview-image {
  padding-bottom: 15px;
  float: left;
  display: table-column;
  width: 300px;
}

.ib-preview-data {
  float: left;
  display: table-column;
  width: auto;
}

.ib-preview-header {
  display: table-row;
  clear: both;
}

.ib-preview-header-title {
  display: table-row;
  width: auto;
  clear: both;
  font-weight: bold;
  color: black;
}

.ib-preview-header-main {
  display: table-row;
  width: auto;
  clear: both;
  font-weight: bold;
  font-variant: small-caps;
}

.ib-preview-header-sub {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-body {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-rent {
  padding: 15px;
  display: table-column;
  width: auto;
  float: left;
}

.ib-preview-rent-data {
  display: table-row;
  width: auto;
  text-align: center;
  font-weight: bold;
  color: #00658a;
  clear: both;
}

.ib-preview-rent-caption {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-area {
  padding: 15px;
  display: table-column;
  width: auto;
  float: left;
}

.ib-preview-area-data {
  display: table-row;
  width: auto;
  clear: both;
  text-align: center;
  font-weight: bold;
  color: #00658a;  
}

.ib-preview-area-caption {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-rooms {
  padding: 15px;
  display: table-column;
  width: auto;
  float: left;
}

.ib-preview-rooms-data {
  display: table-row;
  width: auto;
  clear: both;
  text-align: center;
  font-weight: bold;
  color: #00658a;
}
.ib-preview-rooms-caption {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-freefrom {
  padding: 15px;
  display: table-column;
  width: auto;
  float: left;
}

.ib-preview-freefrom-data {
  display: table-row;
  width: auto;
  clear: both;
  text-align: center;
  font-weight: bold;
  color: #00658a;  
}

.ib-preview-freefrom-caption {
  display: table-row;
  width: auto;
  clear: both;
}

.ib-preview-oval{
  padding-left: 5px;
  display: table-column;
  width: auto;
  float: left;
}

.ib-detail-image {
  display: table-column;
  max-width: 500px;
  min-height: 200px;
  max-height: 400px;
}

#container {
}

@media print {
  #contact {
  display: none;
  }
}

.ib-btn-sort {
  align: left;
}

.ib-btn-filter {
  float: right;
}

.ib-centerframe {
  width: 75%;
  margin: 0 auto;
  background-color: white;
}

.ib-header {
  height: 10%;
  top: 0;
}
