[Unit]
Description=BarrierFree
PartOf=wsgi-services.target

[Service]
User=immobrowse
Group=immobrowse
ExecStart=/usr/local/bin/barrierfreed

[Install]
WantedBy=wsgi-services.target
