[Unit]
Description=BarrierFree

[Service]
User=immobrowse
Group=immobrowse
ExecStart=/usr/local/bin/barrierfreed

[Install]
WantedBy=wsgi-services.target
