[Unit]
Description=ImmoBrowse
PartOf=wsgi-services.target

[Service]
User=immobrowse
Group=immobrowse
ExecStart=/usr/local/bin/immobrowsed

[Install]
WantedBy=wsgi-services.target
