[Unit]
Description=ImmoBrowse
After=network.target mysql.service
Wants=mysql.service

[Service]
User=immobrowse
Group=immobrowse
ExecStart=/usr/local/bin/immobrowsed

[Install]
WantedBy=multi-user.target
