/*
  Default stylesheets for the expose gallery
*/
.ib-gallery-close-button {
  cursor: pointer;
  margin-top: -15px;
  margin-right: -15px;
}

.ib-gallery-scroll-button {
  cursor: pointer;
}

.ib-gallery-title {
  text-align: center;
}

.ib-gallery-image-container {
  text-align: center;
}
