/*
  ImmoBrowse default style sheet
*/
@media print {
  .no-print {
    display: none;
  }

  .print-only {
    display: block !important;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader {
  padding-top: 2em;
}

body {
  background-color: #dfdfdf;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

.oval-inner {
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  width: auto;
  height: 20px;
  background: #666666;
  border-radius: 40px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.oval-outer{
  padding-top: 1em;
  padding-left: 1em;
  display: table-column;
  width: auto;
  float: left;
}

.fraction, .numerator, .denominator {
  padding: 0 5px;
}

.fraction {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.denominator{
  border-top: 1px solid #000;
  display: block;
}

.ib-image-frame {
  height: 300px;
  position:relative;
  background-color: #666666;
}

.ib-framed-image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ib-centered {
  text-align: center;
}
